<div class="imagenMascota" style="overflow: hidden;">
<div class="card"
    style="width: 60rem; margin:29%;height: 320px; margin-top: 120px; color: black;border-radius: 50px; border-color: black;  box-shadow: 7px 13px 37px rgba(161, 159, 159, 0.432);  backdrop-filter: blur(6px);background: rgba(255, 255, 255, 0.63);">
    <div class="card-body">
      <br>
      <h1 class="card-title" style="text-align:center; font-size: 45px;"> ¿Quienes Somos?</h1>
      <br>
      <p class="card-text" style="font-size: 21px; text-align:center;">Mascota Feliz, una veterinaria fundada en el año
        2022 dedicada al servicio profesional y de calidad a nuestras mascotas demostrando valores de Solidaridad y
        vocación para los más indefensos, amor y respeto para nuestros pacientes y por nuestros clientes.</p>
      <a href="./mision.html" style="cursor: pointer; color:black; margin: 47%;">
        <img src="/src/assets/Imagenes/arrow-right-circle.svg" alt="">
      </a>
    </div>
  </div>
</div>

